# ignore editor leftovers
.*.sw*
.*~
*~

# ignore precompiled python files
*.pyc

# ignore setup stuff
build/
dist/
pdfparanoia.egg-info/

# ignore pdfs in the top-level dir
/*.pdf

# temporary pdfs in tests/diff/
tests/diff/*.pdf
